html, body {
    background-color: #F9F3E9;
    font-family: Poppins, sans-serif;
    font-weight: 400;

    &.noScrolling {
        overflow: hidden;
    }
}

.Layout {
    max-width: 1440px;
    margin: auto;
    padding: 0px 100px;
}

// Custom Scrollbar
::-webkit-scrollbar {
    background-color: #F9F3E9;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #121212;
    border: none;
}

// Header

.Header {
    position: relative;
    z-index: 25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    &__logo {
        position: relative;
        z-index: 10;
        padding: 0.5em;
        
        &--img {
            height: 35px;
        }
    }
}

.Icon {
    position: relative;
    z-index: 10;
    background-color: transparent;
    border: none;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    color: #2E2E2E;
    transition: 200ms ease;
    text-transform: uppercase;
    letter-spacing: 10%;
    padding: 0.5em;

    &:hover {
        background-color: #2E2E2E;
        color: #F9F3E9;
    }
}

.Navigation {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #F9F3E9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease;

    &__nav {

        &--li {
            margin: 15px 0px;
        }

        &--link {
            display: block;
            font-size: 20px;
            font-weight: 600;
            color: #121212;
            text-decoration: none;
            padding: 15px 15px;
            transition: 200ms ease;

            &--active {
                background-color: #121212;
                color: #F9F3E9;
            }

            &:hover, &:focus {
                background-color: #121212;
                color: #F9F3E9;
            }
        }
    }
}

// Landing

.Landing {
    &__headings {
        font-family: Martel, serif;
        font-size: 56px;
        color: #121212;
        line-height: 86px;
        margin: 0px;
    }

    &__heading {
        font-weight: 900;
        margin-top: 100px;
    }

    &__subheading {
        font-weight: 700;
        max-width: 50%;
        margin-bottom: 50px;

        &--bold {
            font-weight: 900;
        }
    }

    &__paragraph {
        font-size: 20px;
        font-weight: 500;
        max-width: 50%;
        color: #2E2E2E;
        line-height: 1.4em;
    }

    &__buttons {
        display: flex;
        flex: 1 1;
        margin-top: 35px;
        max-width: 50%;

        &--btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            width: 100%;
            margin-right: 20px;
            color: #121212;
            text-align: center;
            text-decoration: none;
            padding: 0.75em 0px;
            line-height: normal;
            transition: 300ms ease;

            &:last-of-type {
                margin-right: 0px;
            }

            &--primary {
                background-color: #121212;
                color: #F9F3E9;

                &:hover, &:focus {
                    background-color: #2E2E2E;
                }
            }

            &--secondary {
                border: 5px solid #121212;
                box-sizing: border-box;

                &:hover, &:focus {
                    background-color: #2E2E2E;
                    border-color: #2E2E2E;
                    color: #F9F3E9;
                }
            }
        }
    }
}

.heading {
    font-size: 48px;
    font-weight: 700;
    color: #121212;
    line-height: 1.4em;
    max-width: 40%;
    margin: 0px;
    margin-bottom: 35px;
}

// Projects
.Projects {
    margin-top: 150px;
}

.ProjectsRoll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;

    &__project {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;

        &:last-of-type {
            margin-bottom: 0px;
        }

        &--date {
            position: absolute;
            top: 0px;
            left: -50px;
            font-family: 'BioRhyme Expanded', serif;
            font-size: 24px;
            font-weight: 800;
            transform: rotate(-90deg) translate(-100%, 100%);
            transform-origin: 0px;
        }

        &--img {
            aspect-ratio: 1;
            box-sizing: border-box;
            border: 10px solid #000000;
            margin-bottom: 20px;
        }

        &--container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 260px;

            &--title {
                font-size: 38px;
                font-weight: 700;
                color: #121212;
                line-height: 1.2em;
                margin: 0px;
                margin-bottom: 25px;
            }

            &--desc {
                font-size: 18px;
                font-weight: 500;
                color: #2E2E2E;
                line-height: 1.2em;
                margin-bottom: 15px;
                max-height: 140px;
                display: -webkit-box;
                overflow : hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
            }

            &--link {
                display: block;
                font-size: 18px;
                font-weight: 600;
                color: #121212;
                text-align: center;
                text-decoration: none;
                padding: 1em;
                box-sizing: border-box;
                border: 5px solid #121212;
                transition: 200ms ease;

                &:hover, &:focus {
                    background-color: #2E2E2E;
                    border-color: #2E2E2E;
                    color: #F9F3E9;
                }
            }
        }
    }
}

// Cost
.Cost {
    margin-top: 200px;
}

// Pricing
.Pricing {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 600px;
        box-sizing: border-box;
        border: 10px solid #121212;
        margin-right: 20px;
        color: #121212;
        max-width: 400px;

        &--primary {
            color: #FAFAFA;
            background-color: #121212;
        }

        &:last-of-type {
            margin-right: 0px;
        }

        &--title {
            font-size: 36px;
            font-weight: 700;
            margin: 35px 0px;
        }

        &--price {
            font-family: 'BioRhyme Expanded', serif;
            font-size: 62px;
            font-weight: 800;
            margin: 0px;
        }

        &--linkContainer {
            width: 100%;
        }

        &--link {
            position: relative;
            display: block;
            font-size: 20px;
            font-weight: 700;
            color: #121212;
            box-sizing: border-box;
            border-top: 10px solid #121212;
            background-color: #F9F3E9;
            text-decoration: none;
            text-align: center;
            padding: 1em;
            transition: 200ms ease;

            &:hover, &:focus {
                background-color: #121212;
                color: #F9F3E9;
            }
        }
    }
}

// About
.About {
    margin-top: 150px;

    &__details {
        max-width: 50%;

        &--subtitle {
            font-size: 32px;
            font-weight: 500;
            color: #121212;
            margin: 0px;
            margin-bottom: 10px;
            line-height: 1.2em;
        }

        &--detail {
            font-size: 24px;
            color: #2E2E2E;
            margin-bottom: 25px;
            line-height: 1.2em;
        }

        &--desc {
            font-size: 18px;
            font-weight: 500;
            color: #2E2E2E;
            line-height: 1.6em;
            margin-top: 50px;
        }
    }
}

// Contact
.Contact {
    margin-top: 150px;

    &__form {
        display: flex;
        flex-direction: column;

        &--row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
            margin-bottom: 20px;
        }

        &--input {
            font-family: Poppins, sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: #121212;
            background-color: transparent;
            box-sizing: border-box;
            border: 5px solid #121212;
            padding: 0.5em;

            &::placeholder {
                color: #8D8D8D;
            }
        }

        &--textarea {
            resize: none;
            height: 300px;
            margin-bottom: 20px;

            &::placeholder {
                color: #8D8D8D;
            }
        }

        &--btn {
            font-family: Poppins, sans-serif;
            font-size: 18px;
            font-weight: 700;
            color: #F9F3E9;
            background-color: #121212;
            border: none;
            padding: 1em;
            text-transform: uppercase;
            cursor: pointer;
            transition: 200ms ease;

            &:hover, &:focus {
                background-color: #2E2E2E;
            }
        }
    }
}

// Footer
.Footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    margin-top: 150px;

    &__copright {
        font-size: 16px;
        font-weight: 600;
        color: #454545;
    }
}

.ProjectsFeed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;

    &__link {

        &--project {
            position: relative;
            width: 100%;
            height: 100%;

            &--title {
                position: absolute;
                z-index: 10;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                font-weight: 600;
                color: #F9F3E9;
                margin: 0px;
                text-align: center;
                line-height: 1.2em;
                opacity: 0;
                transition: 200ms ease;
            }

            &--img {
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                border: 10px solid #121212;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    opacity: 0;
                    transition: 200ms ease;
                }
            }
        }

        &:hover, &:focus{
            .ProjectsFeed__link--project {
                &--title {
                    opacity: 1;
                }

                &--img {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.ProjectPost {

    &__smalltitle {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: #494949;
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 15px;
    }

    &__date {
        font-size: 22px;
        font-weight: 500;
        color: #2E2E2E;
        margin: 0px;
        margin-bottom: 15px;
    }

    &__desc {
        font-size: 20px;
        font-weight: 500;
        color: #2E2E2E;
        margin-bottom: 100px;
        max-width: 40%;
        line-height: 1.2em;
    }

    &__content {
        font-size: 18px;
        max-width: 85%;
        margin: auto;
        line-height: 1.4em;
    }
}

.NotFound {
    height: calc(100vh - 370px);

    &__subheading {
        max-width: 40%;
        line-height: 1.4em;
    }
}

// Media Queries
@media(max-width: 1450px) {
    .Pricing {
        &__container {
            margin: 0px;
            margin-bottom: 20px;
        }
    }
}

@media(max-width: 1024px) {
    .Landing {
        &__headings {
            font-size: 52px;
            line-height: 1.6em;
        }

        &__subheading {
            max-width: 100%;
        }

        &__paragraph {
            max-width: 80%;
        }

        &__buttons {
            max-width: 80%;
        }
    }

    .heading {
        max-width: 80%;
    }

    .ProjectsRoll {
        &__project {
            max-width: 100%;
        }
    }

    .About {
        &__details {
            max-width: 80%;
        }
    }

    .ProjectPost {
        &__desc {
            max-width: 80%;
        }
    }
}

@media(max-width: 900px) {
    .Layout {
        margin: 0px 50px;
        padding: 0px;
    }
}

@media(max-width: 800px) {
    .ProjectsRoll {
        grid-template-columns: 1fr;

        &__project {
            margin-bottom: 150px;

            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }
}

@media(max-width: 700px) {
    .Contact {
        &__form {
            &--row {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 20px;
            }
        }
    }

    .ProjectsFeed {
        grid-template-columns: repeat(2, 1fr);
    }

    .NotFound {
        &__subheading {
            max-width: 100%;
        }
    }
}

@media(max-width: 550px) {
    .Layout {
        margin: 0px 20px;
    }

    .Header {
        &__logo {
            &--img {
                height: 25px;
            }
        }
    }

    .Landing {
        &__headings {
            font-size: 42px;
        }

        &__heading {
            margin-top: 50px;
        }

        &__paragraph {
            font-size: 18px;
            max-width: 100%;
        }

        &__buttons {
            max-width: 100%;
            margin-top: 25px;
        }
    }

    .heading {
        max-width: 100%;
        font-size: 38px;
    }

    .ProjectsRoll {
        &__project {
            margin-top: 50px;

            &--date {
                top: -50px;
                left: 0px;
                transform: rotate(0deg);
            }
        }
    }

    .About {
        &__details {
            max-width: 100%;
        }
    }

    .ProjectsFeed {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .ProjectPost {
        &__desc {
            font-size: 18px;
            max-width: 100%;
            margin-bottom: 50px;
        }

        &__content {
            max-width: 100%;
        }
    }
}

@media(max-width: 500px) {
    .Landing {
        &__buttons {
            flex-direction: column;

            &--btn {
                margin: 0px;

                &:first-of-type {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .Projects {
        margin-top: 100px;
    }

    .Cost {
        margin-top: 100px;
    }

    .About {
        margin-top: 100px;
    }

    .Contact {
        margin-top: 100px;
    }

    .Footer {
        margin-top: 100px;
    }
}

@media(max-width: 400px) {
    .Landing {
        &__headings {
            font-size: 34px;
        }
    }

    .heading {
        font-size: 32px;
    }

    .Pricing {
        &__container {
            height: 500px;

            &--price {
                font-size: 42px;
            }
        }
    }

    .About {
        &__details {
            &--desc {
                font-size: 16px;
                line-height: 1.4em;
            }
        }
    }

    .ProjectPost {
        &__desc {
            font-size: 16px;
        }
    }
}